<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name_of_book">Введите название книги: </label>
    <input type="text" th:field="*{name_of_book}" id="name_of_book"/>
    <div style="color:red" th:if="${#fields.hasErrors('name_of_book')}" th:errors="*{name_of_book}">Name Error</div>
    <br/>

    <label for="full_name">Введите автора : </label>
    <input type="text" th:field="*{author}" id="full_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('full_name')}" th:errors="*{author}">Age Error</div>
    <br/>

    <label for="publishing_year">Введите год публикации: </label>
    <input type="text" th:field="*{publishing_year}" id="publishing_year"/>
    <br/>

    <input type="submit" value="Редактировать!"/>
</form>

</body>
</html>