<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="nameOfBook">Введите название книги: </label>
    <input type="text" th:field="*{nameOfBook}" id="nameOfBook"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameOfBook')}" th:errors="*{nameOfBook}">Name Error</div>
    <br/>

    <label for="author">Введите автора : </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author</div>
    <br/>

    <label for="publishingYear">Введите год публикации: </label>
    <input type="text" th:field="*{publishingYear}" id="publishingYear"/>
    <div style="color:red" th:if="${#fields.hasErrors('publishingYear')}" th:errors="*{publishingYear}">author</div>
    <br/>

    <input type="submit" value="Добавить!"/>
</form>


</body>
</html>