<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name_of_book">Введите название книги: </label>
    <input type="text" th:field="*{name_of_book}" id="name_of_book"/>
    <div style="color:red" th:if="${#fields.hasErrors('name_of_book')}" th:errors="*{name_of_book}">Name Error</div>
    <br/>

    <label for="author">Введите автора : </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author</div>
    <br/>

    <label for="publishing_year">Введите год публикации: </label>
    <input type="text" th:field="*{publishing_year}" id="publishing_year"/>
    <div style="color:red" th:if="${#fields.hasErrors('publishing_year')}" th:errors="*{author}">author</div>
    <br/>

    <input type="submit" value="Добавить!"/>
</form>


</body>
</html>